<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- partial('_partial/head') %>
<%- partial('_partial/header') %>
<!-- Main Content -->
<%- body %>
<!-- Footer -->
<%- partial('_partial/footer', {}, {cache: true}) %>

<%- partial('_partial/after-footer') %>

</body>

</html>